# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.eggs/
instance/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
*.so
*.egg-info/
dist/
build/
*.egg
*.log